<div class="row form-group">
    <div class="col-md-12">
        <h2>
            Activities List
            <a class="btn btn-primary" href="#CreateActivity">+Add New</a>
        </h2>
    </div>
</div>
<div class="row form-group" ng-init="vm.getActivityList()">
    <div class="col-md-12 table-responsive" style="overflow:auto;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ActID</th>
                    <th>World</th>
                    <th>Type</th>
                    <th>Trigger Flags</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Currency Value</th>
                    <th>Max Count</th>
                    <th>Currency Delta</th>
                    <th>QR Code Val</th>
                    <th>Debug</th>
                    <th>Event</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in vm.ActivityDataForTable">
                    <td>{{x.ActID}}</td>
                    <td>{{x.ActWorld}}</td>
                    <th>{{x.ActType}}</th>
                    <th>{{x.ActTriggerFlags}}</th>
                    <td>{{x.ActName}}</td>
                    <td>{{x.ActDesc}}</td>
                    <td><img class="thumb" src="{{x.ImageMimetype}},{{x.Image}}" style="width:50px; height:30px;" /></td>
                    <td>{{x.ActCurrencyValue}}</td>
                    <td>{{x.ActMaxCount}}</td>
                    <td>{{x.ActCurrencyDelta}}</td>
                    <td>{{x.ActQRCodeVal}}</td>
                    <td>
                        <input type="checkbox" readonly ng-show="x.ActDebug==1" checked disabled="disabled" />
                        <input type="checkbox" readonly ng-show="x.ActDebug==0" disabled="disabled" />
                    </td>
                    <td>{{x.EventName}}</td>
                    <td>
                        <a href="#ViewActivity/{{x.ActID}}" title="View" class=""><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a href="#EditActivity/{{x.ActID}}" title="Edit" class=""><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="" href="javascript:void(0);" title="Delete" ng-click="vm.DeleteActivity(x)"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </tbody>
            <tfoot ng-show="vm.ActivityDataForTable.length==0">
                <tr>
                    <td colspan="14" class="text-center">No record found</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
