<div class="row form-group">
    <div class="col-md-12">
        <h2>
            FAQ
        </h2>
    </div>
    <div class="col-md-12 form-group" ng-init="vm.worldList()">
        <label for="dropdownWorld">World</label>
        <select id="dropdownWorld" name="dropdownWorld" ng-model="vm.worldId" class="form-control" ng-change="vm.loadWorldFaq()" required>
            <option value="">----Select----</option>
            <option data-ng-repeat="t in vm.Worlds" value="{{t.Id}}">{{t.WorldName}}</option>
        </select>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 table-responsive">
        <div ng-model="vm.FAQ.Text" ng-bind-html="vm.FAQ.Text"></div>
    </div>
    <a class="btn btn-primary" ng-show="vm.showAddFAQ" href="#CreateFAQ/{{vm.worldId}}">+Add New</a>
    <a class="btn btn-primary" ng-show="vm.FAQ.WorldId!='' && !vm.showAddFAQ" href="#EditFAQ/{{vm.FAQ.Id}}">+Edit</a>
</div>